[submodule "chatbot/building-chatbots-with-python"]
	path = examples/nlp/chatbot/chatbot_basic/building-chatbots-with-python
	url = https://github.com/Apress/building-chatbots-with-python
[submodule "nlp/chatbot/rasa/rasa-ted-demo"]
	path = examples/nlp/chatbot/rasa/rasa-ted-demo
	url = https://github.com/RasaHQ/rasa-ted-demo.git
[submodule "examples/nlp/chatbot/rasa/rasa-ted-demo"]
	path = examples/nlp/chatbot/rasa/rasa-ted-demo
	url = https://github.com/RasaHQ/rasa-ted-demo
[submodule "examples/nlp/chatbot/chatbot_basic/building-chatbots-with-python"]
	path = examples/nlp/chatbot/chatbot_basic/building-chatbots-with-python
	url = https://github.com/Apress/building-chatbots-with-python.git
[submodule "examples/nlp/chatbot/rasa/rasa-demo"]
	path = examples/nlp/chatbot/rasa/rasa-bert/rasa-demo
	url = https://github.com/RasaHQ/rasa-demo.git
[submodule "examples/nlp/chatbot/rasa/spaCy-integration-demo"]
	path = examples/nlp/chatbot/rasa/rasa-spacy-demo/spaCy-integration-demo
	url = https://github.com/RasaHQ/spaCy-integration-demo
[submodule "examples/nlp/chatbot/rasa/rasa-tfboard-demo/rasa-demo"]
	path = examples/nlp/chatbot/rasa/rasa-tfboard-demo/rasa-demo
	url = https://github.com/RasaHQ/rasa-demo.git
